.openModel {
  padding: 12px 24px;
  font-size: 24px;
  background-color: #04aa6d;
  color: white;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.model {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  /* style All buttons  */
  button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    &:hover {
      opacity: 0.8;
    }
  }

  .modelContent {
    background-color: #fefefe;
    margin: auto;
    width: 50%;
    .imgCont {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
      padding: 5px;
      .avatar {
        width: 30%;
        border-radius: 50%;
      }
      .close {
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 45px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
    .LoginCont {
      margin: 0 15px;
      padding: 5px;
      .user,
      .password {
        width: 100%;
        padding: 15px 20px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        display: inline-block;
        margin: 8px 0;
      }
      button[type="submit"] {
        font-size: 20px;
      }
      label {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .cont {
      background-color: #f1f1f1;
      padding: 20px;
      .cancelBtn {
        width: auto;
        background-color: red;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
      .psw {
        float: right;
        padding-top: 20px;
        font-size: 20px;
      }
      @media screen and (max-width: 500px) {
        span.psw {
          display: block;
          float: none;
        }
        .cancelBtn {
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .modelContent {
      width: 70%;
    }
  }
}
